@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
html,
body {
  background-color: #090b1a;
  font-size: 15px;
  height: 100%;
}

body {
  max-width: 375px;
  font-size: 15px;
  height: 100%;
  background-color: #090b1a;
}

body div.card {
  background-color: #1b1938;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

body div.card .card-image {
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

body div.card .card-image .card-image-insert {
  content: url("./images/image-header-mobile.jpg");
  max-width: -webkit-fill-available;
  z-index: -1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

body div.card .card-image::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 99%;
  background-color: rgba(162, 0, 250, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body div.card .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

body div.card .card-text h1.header-paragraph {
  font-size: 30px;
  font-family: "Lexend Deca", sans-serif;
  color: white;
  text-align: -webkit-center;
  margin-right: 10px;
  margin-left: 10px;
}

body div.card .card-text h1.header-paragraph span.highlight-word {
  color: #aa5cdb;
  display: contents;
}

body div.card .card-text div.main-paragraph {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Inter", sans-serif;
  text-align: -webkit-center;
  margin-right: 10px;
  margin-left: 10px;
}

body div.card .card-text div.bottom-paragraph {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Inter", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 15px;
  font-size: 15px;
}

body div.card .card-text div.bottom-paragraph div.paragraph-number {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  padding-bottom: 5px;
  font-size: 20px;
}

body div.card .card-text div.bottom-paragraph div.paragraph-name {
  font-size: 10px;
  padding-bottom: 15px;
}

@media (min-width: 375px) {
  body {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body div.card {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 20px;
    margin-right: 10vw;
    margin-left: 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  body div.card .card-image {
    position: relative;
    height: -webkit-fit-;
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  body div.card .card-image .card-image-insert {
    content: url("./images/image-header-mobile.jpg");
    z-index: -1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
  }
  body div.card .card-text {
    text-align: center;
    width: 50%;
    height: -webkit-fit-;
  }
  body div.card .card-text span.highlight-word {
    color: #aa5cdb;
    display: contents;
  }
  body div.card div.main-paragraph {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Inter", sans-serif;
    text-align: -webkit-center;
    margin-right: 10px;
    margin-left: 10px;
  }
}
/*# sourceMappingURL=style.css.map */